<!DOCTYPE html>
<html>
  <head>
    <title>EquipmentManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-md-2">
        <nav><%= render 'layouts/side_menu' %></nav>
      </div>
      <div class="col-md-8"><%= yield %></div>
    </div>
  </body>
</html>
